/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic project styles */
    color: rgb(87, 87, 88);
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: rgb(87, 87, 88);
}

/* Header */
header {
    background-color: lightgray;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo {
    max-width: 50%;
    margin-top: 8px;
}

#menu {
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 3px;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */

nav {
    position: absolute;
    background-color: lightgray;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

header label {
    color: rgb(87, 87, 88);
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}



/* Main Content */
main {

    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 61px;
}

/* Footer */
footer {
    background-color: lightgray;
}

#social-media {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 20px 0;
}

#social-media i {
    font-size: 150%;
    color: #3a3a3a;
    padding: 5%;
}


/* Media querie: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        max-width: 40%;
        margin-top: 15px;
    }

    /* Main Content */
    main {

        /* Make main element take up any surplus space to push footer down */
        margin-top: 91px;
    }
}

/* Media querie: laptops and larger (992px and up) */
@media screen and (min-width: 992px) {

    /* Header */
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    #logo {
        max-width: 37%;
        margin-top: 20px;
    }

    /* Main Content */
    main {

        /* Make main element take up any surplus space to push footer down */
        margin-top: 121px;
    }
}

/* Media query: Large screens (1200px and up) */
@media screen and (min-width:1200px) {

    /* Main Content */
    main {

        /* Make main element take up any surplus space to push footer down */
        margin-top: 153px;
    }

}