/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic project styles */
    color: rgb(87, 87, 88);
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

h2,
h3 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: rgb(87, 87, 88);
}

/* Header */
header {
    background-color: lightgray;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo {
    max-width: 50%;
    margin-top: 8px;
}

#menu {
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 3px;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */

nav {
    position: absolute;
    background-color: lightgray;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

header label {
    color: rgb(87, 87, 88);
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}



/* Main Content */
main {

    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 50.72px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url(../images/pexels-jill-wellington-40815.jpg) no-repeat center center/cover;
    position: relative;
}

#cover-text {
    color: whitesmoke;
    position: absolute;
    bottom: 50px;
    right: 30px;
    width: 80%;
    text-align: right;
}

#reasons {
    width: 90%;
    margin: 20px auto;
}

#why {
    line-height: 20px;
    margin-bottom: 20px;
}

#how {
    line-height: 20px;
    margin-bottom: 20px;
}

#benefits p #benefits p ul {
    padding: 0 30px;
}

hr {
    margin: 5px 0;
    border-top: #3a3a3a 1px solid;
}

#oval-cover-bg {
    background: url(../images/profile_picture.png) no-repeat center/cover;
    width: 80vw;
    height: 80vw;
    margin-bottom: 20px;
    max-width: 280px;
    max-height: 400px;
    border-radius: 80%;
}

#benefits-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

#last-words {
    text-align: center;
    margin-bottom: 30px;
}

/* Services page */

#pt-image {
    background-image: url(../images/pexels-pixabay-416717.jpg);
    background-size: cover;
    flex-grow: 1;
    background-position: 75%;
    height: 170px;
    width: 100%;
}

#nutrition-image {
    background-image: url(../images/pexels-ella-olsson-1640775.jpg);
    background-size: cover;
    flex-grow: 1;
    background-position: 50%;
    height: 170px;
    width: 100%;
}

#app-image {
    background-image: url(../images/4-appbilder-960x493.jpg);
    background-size: cover;
    flex-grow: 1;
    background-position: 50%;
    height: 170px;
    width: 100%;
}

.services-info {
    line-height: 20px;
    margin-bottom: 20px;
}

.services-info h4 {
    padding: 0 30px;
}

.services-info p {
    padding: 0 30px;

}

/* contact page */
#contact {
    background-image: url(../images/pexels-scott-webb-28080.jpg);
    background-size: cover;
    background-position: 25%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}

#contact h2 {
    color: whitesmoke;
    margin-bottom: 20px;
}

#contact-form {
    padding: 30px;
    color: whitesmoke;
    background-color: rgba(60, 60, 60, 0.6);
}

.text-input {
    background: transparent;
    width: 100%;
    height: 25px;
    padding: 0 5px;
    margin: 5px 0 20px 0;
    border: 1px solid whitesmoke;
    border-radius: 2px;
}

.call-me-button {
    border-radius: 2px;
    background-color: #87ba68;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 100%;
    color: whitesmoke;

}

/* Footer */
footer {
    background-color: lightgray;
}

#social-media {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 20px 0;
}

#social-media i {
    font-size: 150%;
    color: #3a3a3a;
    padding: 5%;
}


/* Media querie: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        max-width: 40%;
        margin-top: 15px;
    }

    /* Main Content */
    main {

        /* Make main element take up any surplus space to push footer down */
        margin-top: 87px;
    }

    /* Reasons section */
    #benefits {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #why {
        width: 75%;
    }

    #how {
        width: 75%;
    }

    #how {
        text-align: start;
        align-self: flex-end;
    }

    /* Contact page */
    #contact {
        position: relative;
    }

    #contact-form {
        position: absolute;
        max-width: 400px;
        right: 10%;
        top: 150px;
    }

    .text-input:hover {
        border-color: #87ba68;
    }

    .call-me-button:hover {
        background-color: whitesmoke;
        color: #87ba68;
    }

}

/* Media querie: laptops and larger (992px and up) */
@media screen and (min-width: 992px) {

    /* Header */
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    #logo {
        max-width: 37%;
        margin-top: 20px;
    }

    /* Main Content */
    main {

        /* Make main element take up any surplus space to push footer down */
        margin-top: 117px;
    }

    /* Reasons section */
    #last-words {
        font-size: 130%;
    }
}

/* Media query: Large screens (1200px and up) */
@media screen and (min-width:1200px) {

    /* Hero section */
    #cover-text {
        bottom: 60px;
        font-size: 150%;
        color: #3a3a3a;
    }

    /* Main Content */
    main {

        /* Make main element take up any surplus space to push footer down */
        margin-top: 152.84px;
    }

    /* Reasons section */
    #benefits {
        display: flex;
        flex-direction: row;
    }

    #benefits>div {
        flex: 1;
    }

    #benefits-image {
        order: 0;
    }

    #how {
        order: 1;
        align-self: center;
    }

    #why {
        align-self: center;
    }

    #last-words {
        font-size: 150%;
    }
}